* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

:root {
    --fondo-letras: rgba(25, 25, 25, 0.6);
    --fondo-letras-hover: rgba(40, 40, 40, 0.6);
    --boder-fondo: .4em;
    --sombra-letras: drop-shadow(0 .08em 0 black);
}

/* Fuentes de letras */

@font-face {
    font-family: "Digital-Clock";
    src: url(./font/dseg7-classic-latin-300-normal.ttf);
}

@font-face {
    font-family: "TitilliumWeb";
    src: url(./font/TitilliumWeb-Regular.ttf);
}


.intro-silueta{
    position: fixed;
    background: transparent;
    box-shadow: 0 0 0 1000px black;
    top: 50%;
    left: 50%;
    width: 0%;
    height: 0%;
    transform: translate(-50%, -50%);
    transition:  3s ease ;
}

.intro-silueta-expandida{
    width: 100%;
    height: 80%;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 1;
    background: radial-gradient(ellipse at center, rgba(13, 13, 13, 0.0) 75%, rgba(0, 0, 0,0.4) 100%);
}

.menu {
    font-family: "TitilliumWeb";
    position: absolute;
    top: 52px;
    left: 52px;
    color: white;
    z-index: 10;
    transition: 3s ease-in-out;
    opacity: 0;
    visibility: hidden;
}





.menu-opcion {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    background-color: var(--fondo-letras);
    margin: .4em 0 .4em;
    padding: 0em 8em 0em .4em;
    cursor: pointer;
    transition: .4s ease-in;
    border-radius: var(--boder-fondo);
    font-size: .8em;


}

.menu-opcion:hover {
    background-color: var(--fondo-letras-hover);

}

.menu-opcion:hover>.submenu {
    visibility: visible;
    opacity: 1;
    transform: translateX(15.6em);
    pointer-events: all;

}

.submenu {
    pointer-events: none;
    position: absolute;
    visibility: hidden;
    opacity: 0;
}


.submenu li {
    background-color: var(--fondo-letras);
    padding: .8em 8em .8em .4em;
    transition: .4s ease-in-out;
    margin: .4em 0 .4em;
    padding-left: .6em ;
    border-radius: var(--boder-fondo);
    width: 16em;

}

.submenu li:hover {
    background-color: var(--fondo-letras-hover);
    border-radius: .2em;
}

.submenu-opciones {
    display: flex;
    border-radius: var(--boder-fondo);
}

.icono {
    width: 1.8em;
}

/* Radio */

img {
    width: 5.6em;
    margin: .8em;
}

/* .img-musica{
    border: 1px solid black;
} */

.radio {
    font-family: 'TitilliumWeb';
    visibility: hidden;
    opacity: 0;
    color: white;
    position: absolute;
    top: 70%;
    background-color: var(--fondo-letras);
    padding: 0 4em 0 0;
    width: 18em;
    z-index: 10;
    filter: drop-shadow(0 .4em rgba(0,0,0,.2));
}

.radio-dentro {
    display: flex;
    justify-content: first baseline;
    align-items: center;
}



.nombre-cancion {
    color: rgb(255, 191, 0);
    font-size: 1.2em;
    width: 8em;
}

.nombre-artista{
    font-size: .8em;
    opacity: .5;
}

button {
    color: white;
    border: none;
    background: none;
    cursor: pointer;
}

.color {
    width: 1em;
    height: 1em;
    border-radius: 100%;
    border: 1px solid white;
    margin: .2em;

}



/* Malibu */
.malibu_color_1 {
    background-color: #490099FF;
}

.malibu_color_2 {
    background-color: rgb(104, 0, 0);
}

.malibu_color_3 {
    background-color: rgb(181, 155, 84);
}

/* Jeep */

.jeep_color_1 {
    background-color: #147100FF;
}

.jeep_color_2 {
    background-color: rgb(0, 0, 0);
}

.jeep_color_3 {
    background-color: rgb(255, 255, 255);
}

/* Fiat */

.fiat_color_1 {
    background-color: #BC0900FF;
}

.fiat_color_2 {
    background-color: rgb(231, 127, 0);
}

.fiat_color_3 {
    background-color: rgb(125, 185, 231);
}


/* Reloj / Día */


.reloj {
    position: absolute;
    left: 89%;
    top: 52px;
    color: white;
    text-align: center;
    padding: 0em 1.8em;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: 3s ease-in-out;
    /* background-color: var(--fondo-letras); */
}




.hora {
    font-family: "TitilliumWeb";
    font-size: 1.2em;
    filter: var(--sombra-letras);
}

.dia {
    font-family: "TitilliumWeb";
    font-size: 1.2em;
    margin-right: .4em;
}

.hora-sistema {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--fondo-letras);
    padding: .6em 1em;
    border-radius: var(--boder-fondo);
}

.ventana-encendida{
    visibility:visible;
    opacity: 1;
}
